## Dictionary

- A dictionary is mutable and is another container type that can store any number of Python objects, including other container types.
- Dictionaries consist of pairs (called items) of keys and their corresponding values.
- Think of the key to a value
- Python dictionaries are also known as associative arrays or hash tables.

In [1]:
dict = {'Alice': '2341', 'Beth': '9102', 'Cecil': '3258'}
print(dict)

{'Beth': '9102', 'Alice': '2341', 'Cecil': '3258'}

In [2]:
empty_dictionary = {}

## Keys
- Each key is separated from its value by a colon (:), the items are separated by commas, and the whole thing is enclosed in curly braces.
- An empty dictionary without any items is written with just two curly braces, like this: {}.
- Keys are unique within a dictionary while values may not be. The values of a dictionary can be of any type, but the keys must be of an immutable data type such as strings, numbers, or tuples.

## Example

In [3]:
digitsStrings = {1: "one", 2: "two", 3:"three"}
print digitsStrings
digitsStrings[4] = "four"
print digitsStrings
del digitsStrings[1]
print digitsStrings
digitsStrings["five"] = 5
print digitsStrings
digitsStrings[1.2]="one.two"
print digitsStrings

{1: 'one', 2: 'two', 3: 'three'}
{1: 'one', 2: 'two', 3: 'three', 4: 'four'}
{2: 'two', 3: 'three', 4: 'four'}
{'five': 5, 2: 'two', 3: 'three', 4: 'four'}
{'five': 5, 2: 'two', 3: 'three', 4: 'four', 1.2: 'one.two'}

# Keys â€“ must be unique

### Keys must be unique

- One key accesses one value.
- I would keep the same datatype.(string,int)
- I would not use floats.
- Which are possible keys

    - Student ID number,
    - date of birth,
    - email address,
    - car registration,
    - full name,

# Accessing Values in Dictionary

In [4]:
dict1 = {'Name': 'Zara', 'Age': 7, 'Class': 'First'};
print(dict1)

{'Age': 7, 'Name': 'Zara', 'Class': 'First'}

In [5]:
print(dict1['Name'])

Zara

In [6]:
print(dict1['Age'])

7

## Updating Dictionary

In [7]:
dict1['Age'] = 8 # update existing entry
print(dict1)

{'Age': 8, 'Name': 'Zara', 'Class': 'First'}

## Adding a new key

In [8]:
dict1['School'] = "DPS School"; # Add new entry/key
print(dict1)

{'School': 'DPS School', 'Age': 8, 'Name': 'Zara', 'Class': 'First'}

## Removing a key

In [9]:
print(dict1)
del dict1['Name']; # remove entry with key
print(dict1)

{'School': 'DPS School', 'Age': 8, 'Name': 'Zara', 'Class': 'First'}
{'School': 'DPS School', 'Age': 8, 'Class': 'First'}

## Removing all keys

In [10]:
print(dict1)
dict1.clear(); # remove entry with key
print(dict1)

{'School': 'DPS School', 'Age': 8, 'Class': 'First'}
{}

## Deleting dictionary

In [11]:
print(dict1)
del dict1
print(dict1)

{}

NameError: name 'dict1' is not defined

## Properties of Dictionary Values
- Dictionary values have no restrictions.
- They can be any arbitrary Python object, either standard objects or user-defined objects.
- However, same is not true for the keys.

## Properties of Dictionary Keys
- There are two important points to remember about dictionary keys:
- (a) More than one entry per key not allowed. Which means no duplicate key is allowed. When duplicate keys encountered during assignment, the last assignment wins. Following is a simple example:

### What if we declare same key twice?

In [12]:
dict = {'Name': 'John', 'Age': 7, 'Name': 'Sara'};
print dict['Name'];

Sara

# Keys must be immutable
- You can use strings, numbers or tuples as dictionary keys but something like ['key'] is not allowed.

In [13]:
dict = {['Name']: 'Zara', 'Age': 7};

TypeError: unhashable type: 'list'

## Built-in Dictionary Functions
### cmp(dict1, dict2) Compares elements of both dict.

In [14]:
dict1 = {'Name': 'Zara', 'Age': 7};
dict2 = {'Name': 'Mahnaz', 'Age': 27};
dict3 = {'Name': 'Abid', 'Age': 27};
dict4 = {'Name': 'Zara', 'Age': 7};
print "Return Value : %d" %  cmp (dict1, dict2)
print "Return Value : %d" %  cmp (dict2, dict3)
print "Return Value : %d" %  cmp (dict1, dict4)

Return Value : -1
Return Value : 1
Return Value : 0

### len(dict) Gives the total length of the dictionary. This would be equal to the number of items in the dictionary.

In [15]:
dict = {'Name': 'Sam', 'Age': 7};
print "Length : %d" % len (dict)

Length : 2

## str(dict) Produces a printable string representation of a dictionary

In [16]:
dict = {'Name': 'Zara', 'Age': 7};
print "Equivalent String : %s" % str (dict)

Equivalent String : {'Age': 7, 'Name': 'Zara'}

## type(variable) Returns the type of the passed variable. If passed variable is dictionary, then it would return a dictionary type.

In [17]:
dict = {'Name': 'Zara', 'Age': 7};
print "Variable Type : %s" %  type (dict)

Variable Type : <type 'dict'>

## Built-in Dictionary Methods
- dict.clear() Removes all elements of dictionary dict
- dict.copy() Returns a shallow copy of dictionary dict
- dict.fromkeys() Create a new dictionary with keys from seq and values set to value.
- dict.get(key, default=None) For key key, returns value or default if key not in dictionary
- dict.has_key(key) Returns true if key in dictionary dict, false otherwise
- dict.items() Returns a list of dict's (key, value) tuple pairs
- dict.keys() Returns list of dictionary dict's keys
- dict.setdefault(key, default=None) Similar to get(), but will set dict[key]=default if key is not already in dict
- dict.update(dict2) Adds dictionary dict2's key-values pairs to dict
- dict.values() Returns list of dictionary dict's values

In [18]:
dict = {'Name': 'Zabra', 'Age': 7}

print "Value : %s" %  dict.get('Age')
print "Value : %s" %  dict.get('Education', "Never")

Value : 7
Value : Never

In [19]:
dict.has_key('Name')

True

In [20]:
dict.items()

[('Age', 7), ('Name', 'Zabra')]

In [21]:
dict.keys()

['Age', 'Name']

In [22]:
dict.values()

[7, 'Zabra']

In [23]:
# Assignment by reference
dict1 = {"key1": "value1", "key2": "value2"}
dict2 = dict1
print 'dict2',dict2
dict2["key2"] = "WHY?!"
print 'dict1',dict1
print 'dict2',dict2

dict2 {'key2': 'value2', 'key1': 'value1'}
dict1 {'key2': 'WHY?!', 'key1': 'value1'}
dict2 {'key2': 'WHY?!', 'key1': 'value1'}

In [24]:
dict1 = {"key1": "value1", "key2": "value2"}
dict2 = dict1.copy()
print 'dict2',dict2
dict2["key2"] = "WHY?!"
print 'dict1',dict1
print 'dict2',dict2

dict2 {'key2': 'value2', 'key1': 'value1'}
dict1 {'key2': 'value2', 'key1': 'value1'}
dict2 {'key2': 'WHY?!', 'key1': 'value1'}

## Pass by value and Pass by reference

In [25]:
# Pass by value
def inc(x):
    print "inc" ,x
    x = x +1
    print "inc" ,x
y = 99
print "outside function ", y
inc(y)
print "outside function ", y

outside function  99
inc 99
inc 100
outside function  99

In [26]:
#Pass by reference
def incList(x):
    print "inc" ,x
    x[0] = x[0] + 1
    print "inc" ,x
y = [99]
print "outside function ", y
incList(y)
print "outside function ", y

outside function  [99]
inc [99]
inc [100]
outside function  [100]

# Tuples
## Similar to lists but are immutable

- A tuple is a sequence of immutable Python objects.
- Tuples are sequences, just like lists.
- The only difference is that tuples can't be changed i.e., tuples are immutable
- tuples use parentheses and lists use square brackets.
- Creating a tuple is as simple as putting different comma-separated values and optionally you can put these comma-separated values between parentheses also.

In [27]:
tup1 = ('physics', 'chemistry', 1997, 2000)
tup2 = (1, 2, 3, 4, 5 )
empty_tuple = ()

### To write a tuple containing a single value you have to include a comma, even though there is only one value:

In [28]:
tup = (10)

In [29]:
type(tup)

int

In [30]:
tup1 = (50,);

In [31]:
type(tup1)

tuple

## Like string indices, tuple indices start at 0, and tuples can be sliced, concatenated and so on.

# Updating Tuples
- Tuples are immutable.
- You are able to take portions of existing tuples to create new tuples

In [32]:
tup1 = (12, 34.56);
tup2 = ('abc', 'xyz');
tup3 = tup1 + tup2; # concatenation
print tup3;

(12, 34.56, 'abc', 'xyz')

# Delete Tuple Elements
- Removing individual tuple elements is not possible.
- There is nothing wrong with putting together another tuple with the desired elements.
- To explicitly remove an entire tuple, just use the del statement.

In [33]:
tup = ('physics', 'chemistry', 1997, 2000);
print tup;
del tup;
print "After deleting tup : "
print tup

('physics', 'chemistry', 1997, 2000)
After deleting tup :

NameError: name 'tup' is not defined

In [34]:
# Length
len((1, 2, 3))

3

In [35]:
# Concatenation
(1, 2, 3) + (4, 5, 6)

(1, 2, 3, 4, 5, 6)

In [36]:
# Repetition
('Hello',) * 4

('Hello', 'Hello', 'Hello', 'Hello')

In [37]:
# Membership
print(3 in (1, 2, 3))
print(1 not in (1, 2, 3))

True
False

In [38]:
a = (1,2,3,4,5)
for element in a:
    print(element)

1
2
3
4
5

# Indexing
- Offsets start at zero
- Negative: count from the right
- Slicing fetches sections

In [39]:
tup = (0,1,2,3,4,5,-3,-2,-1)

In [40]:
print(tup[2])

2

In [41]:
print(tup[-2])

-2

In [42]:
print(tup[1:4])

(1, 2, 3)

In [43]:
tup = (0,1,2,3,4,5,-3,-2,-1)
len(tup)

9

In [44]:
max(tup)

5

In [45]:
min(tup)

-3

In [46]:
a = [1,2,3,4,5]
print(type(a))
a = tuple(a)
print(type(a))

<type 'list'>
<type 'tuple'>